<section class="customers">
    <div class="container">
      <h2 class="title">What our Customers Say</h2>
      <p class="subscribe">
        Don't just take our word for it - see what our satisfied customers have to say
      </p>
      <ul class="coment">
        <li class="coment-item">
          <div class="rating">
            <svg width="17" height="16">
              <use href="./img/icons.svg#icon-Vector"></use>
            </svg>
            <svg width="17" height="16">
              <use href="./img/icons.svg#icon-Vector"></use>
            </svg>
            <svg width="17" height="16">
              <use href="./img/icons.svg#icon-Vector"></use>
            </svg>
            <svg width="17" height="16">
              <use href="./img/icons.svg#icon-Vector"></use>
            </svg>
            <svg width="17" height="16">
              <use href="./img/icons.svg#icon-Vector"></use>
            </svg>
          </div>

          <p class="coment-description">
            “The Best app I have used to order food in a while, so many options to choose from
            too, I would recommend to a freind, No questions asked”
          </p>
          <div class="person">
            <div class="foto"><img src="./img/man.jpg" alt="man" /></div>
            <div class="person-name">
              <p class="name">Sumith Shah</p>
              <p class="personcoment">Some Dude</p>
            </div>
          </div>
        </li>
        <li class="coment-item">
            <div class="rating">
                <svg width="17" height="16">
                  <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <svg width="17" height="16">
                  <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <svg width="17" height="16">
                  <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <svg width="17" height="16">
                  <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <svg width="17" height="16">
                  <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
              </div>

          <p class="coment-description">
            “The ease with which I can just go in and order what i want was amazing, It has been
            a very pleasant experience ordering from this app”
          </p>
          <div class="person">
            <div class="foto"><img src="./img/woman.jpg" alt="woman" /></div>
            <div class="person-name">
              <p class="name">Sumith Shah</p>
              <p class="personcoment">Some Dude</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>