<section class="favorites">
  <div class="container container-favorites">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">Looking for something delicious?</p>
    <ul class="favorites-list">
      <li class="list-item">
        <img
          srcset="
            ./img/favorites/gamburger-1x-min.jpg 1x,
            ./img/favorites/gamburger-2x-min.jpg 2x
          "
          alt="gamburger"
          class="favorites-image"
        />
      </li>
      <li class="list-item list-item-midle">
        <img
          srcset="
            ./img/favorites/pasta-1x-min.jpg 1x,
            ./img/favorites/pasta-2x-min.jpg 2x
          "
          alt="pasta"
          class="favorites-image favorites-image-midle"
        />
      </li>
      <li class="list-item">
        <img
          srcset="
            ./img/favorites/pizza-1x-min.jpg 1x,
            ./img/favorites/pizza-2x-min.jpg 2x
          "
          alt="pizza"
          class="favorites-image"
        />
      </li>
      <li class="list-item list-item-invisible">
        <img
          srcset="
            ./img/favorites/chicken-1x-min.jpg 1x,
            ./img/favorites/chicken-2x-min.jpg 2x
          "
          alt="chiken"
          class="favorites-image"
        />
      </li>
      <li class="list-item list-item-midle list-item-invisible">
        <img
          srcset="
            ./img/favorites/salat-1x-min.jpg 1x,
            ./img/favorites/salat-2x-min.jpg 2x
          "
          alt="salat"
          class="favorites-image favorites-image-midle"
        />
      </li>
      <li class="list-item list-item-invisible">
        <img
          srcset="
            ./img/favorites/borshch-1x-min.jpg 1x,
            ./img/favorites/borshch-2x-min.jpg 2x
          "
          alt="borshch"
          class="favorites-image"
        />
      </li>
    </ul>
  </div>
</section>
