<header class="header">
    <div class="container header-container">
        <img src="./img/Vector.svg" alt="logo" width="66" height="52" />
        <nav class="nav">
            <ul class="nav-list">
                <li><a class="nav-link" href="">Home</a></li>
                <li><a class="nav-link" href="">About</a></li>
                <li><a class="nav-link" href="">Service</a></li>
                <li><a class="nav-link" href="">Menu</a></li>
                <li><a class="nav-link" href="">Contact</a></li>
            </ul>
        </nav>
        <button class="nav-button" type="button" data-modal-open>Order Now</button>
        <button class="open-menu-btn" type="button"><svg width="24" height="16" class="mob-icon-menu" data-mobmenu-open>
                <use href="./img/icons.svg#open-menu-btn"></use>
            </svg>
        </button>
    </div>
    <div class="mob-menu is-hidden" data-mobmenu><!-- is-open-->
        <div class="mob-menu-wrap">
            <button class="close-menu-btn" type="button" data-mobmenu-close>
                <svg width="11" height="11" class="mob-icon-close">
                    <use href="./img/icons.svg#icon-close-mob-btn">
                    </use>
                </svg>
            </button>
            <nav class="nav-mob">
                <ul class="nav-list-mob">
                    <li><a class="nav-link-mob" href="">Home</a></li>
                    <li><a class="nav-link-mob" href="">About</a></li>
                    <li><a class="nav-link-mob" href="">Service</a></li>
                    <li><a class="nav-link-mob" href="">Menu</a></li>
                    <li><a class="nav-link-mob" href="">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
