<section class="container offering">
  <div class="offering-flex">
    <div class="container-apple-one">
      <div class="container-apple">
        <picture>
          <source
            srcset="./img/offering/aple.png 1x, ./img/offering/aple-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/offering/aple-tab-1x.png 1x,
              ./img/offering/aple-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/offering/aple-mob-1x.png 1x,
              ./img/offering/aple-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img-apple"
            src="./img/offering/aple.png"
            alt="apple"
            width="396"
            height="502"
          />
        </picture>
        <div class="apple-shadow"></div>
      </div>
    </div>
    <div class="offering-special">
      <h2 class="offering-title">What's Special About Our Offerings</h2>
      <p class="offering-text">
        With our platform, you can browse through a diverse selection of
        cuisines and local restaurants, and choose from a variety of dishes that
        cater to your specific taste buds.
      </p>
      <ul class="offering-item">
        <li>
          <div class="offering-item-list">
            <svg width="32" height="32" class="offering-icon">
              <use href="./img/offering/offering.svg#icon-rocket_launch"></use>
            </svg>
          </div>
          <h3 class="offerinf-title-special">Fasest Delivery</h3>
          <p class="offering-text-two">
            Our advanced logistics system and dedicated delivery partners ensure
            that your meals are delivered to you within 30-minutes.
          </p>
        </li>
        <li>
          <div class="offering-item-list">
            <svg width="32" height="32" class="offering-icon">
              <use href="./img/offering/offering.svg#icon-touch_app"></use>
            </svg>
          </div>
          <h3 class="offerinf-title-special">Easy To Order</h3>
          <p class="offering-text-two">
            You can browse through a wide variety of cuisines and restaurants,
            select your favorite meals, and place your order in just a few
            clicks.
          </p>
        </li>
      </ul>
      <div class="btn">
        <button type="button" class="offering-btn">Order Now</button>
        <button type="button" class="offering-btn-two">
          Read More<svg width="14" height="14">
            <use href="./img/offering/offering.svg#icon-down"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
