<!-- subscribe Ruslan-->
<section class="section-subscribe">
  <div class="container all-container-section">
    <div class="container-content-subscribe">
      <div class="container-subscribe-image">
        <img
          class="subscribe-image"
          srcset="../img/subscribe/subscribebanan11582x.jpg 2x"
          src="../img/subscribe/subscribebanan1158.jpg"
          alt="banan"
          width="608"
        />
      </div>
      <div class="container-text">
        <h3 class="title-subscribe">Subscribe To Get Special Offers</h3>
        <p class="paragraph-subscribe">
          Order now and receive 10% off your first meal with Enjoy Your Favorite
          Food From Anywhere.
        </p>
      </div>
      <div class="container-form">
        <form class="form" name="issue_report_form" autocomplete="off">
          <label class="form-label">
            <input
              type="text"
              class="form-input"
              name="topic"
              placeholder="Enter your email"
            />
          </label>
          <button class="button-sub" type="button">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
